<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Votechain</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <nav id="custom-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a id="home" class="navbar-brand" href="/">VoteChain</a>
                <button class="navbar-toggler border-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" id="vote" href="/vote">Vote</a></li>
                        <li class="nav-item"><a class="nav-link" id="results" href="/results">Results</a></li>
                        <% if(currUser && currUser.username == 'admin') {%>
                                <li class="nav-item"><a class="nav-link" id="admin" href="/admin">Admin</a></li>
                        <% }else { %>
                                <li class="nav-item"><a class="nav-link" id="admin" href="/login/admin">Admin</a></li>
                        <% } %>
                    </ul>
    
                    <ul class="navbar-nav ml-auto">
                    <% if(!currUser) {%>
                            <li class="nav-item"><a class="nav-link" id="login" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" id="register" href="/register">Register</a></li>
                        <% } else{ %>
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    <%= success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
        </div>    
