<%- include('partials/header'); -%>

<div class="container">
    <div class="class-row">
        <div style="padding-left: 14.0em; padding-right: 14.0em;" class="col-md-12 text-center">
            <img style="width: 40%; margin-left: 150px;" class="media-object img-responsive" src="/images/sad.png">
            <h3>Aadhar number already exists.</h1>
            <a class="btn btn-primary" href="/votechain/register">Try Again!</a>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>