<%- include('partials/header'); -%>

<div class="container home">
    <div class="head">
        <h2 class="welcome">Welcome to The VoteChain</h2>
    </div>
    <div class="image">
        <img class="img-responsive center-block" src="https://cdn.pixabay.com/photo/2016/03/31/19/21/ballot-1294935__340.png">
        <h3 class="footer">Towards Decentralized Election</h3>
    </div>
</div>


<%- include('partials/footer'); -%>



