<%- include('partials/header'); -%>

<div class="container text-center">
    <h2>You have Successfully Registered</h2>
    <a class="btn btn-primary" href="/votechain/login">Login</a>
</div>

<%- include('partials/footer'); -%>