<%- include('partials/header'); -%>

<div class="container text-center">
    <h2>Your Vote has been Added Successfully</h2>
    <a class="btn btn-primary" href="/logout">Logout</a>
</div>

<%- include('partials/footer'); -%>